#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.messages_list{
  text-align: left;
}


.message{

  border: 5px dashed #A4A19D;
  border-radius: 22px;
  margin: 10px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
