#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.messages_list{
  text-align: left;
}

.message{

  border: 5px dashed #A4A19D;
  border-radius: 22px;
  margin: 10px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ultra_confidential_area{
  padding-left: 20%;
  padding-right: 20%;
}

.politician_form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 3px; */
  /* grid-auto-rows: minmax(100px, auto); */
}

.politician_form_labels{
  text-align: right;
  grid-column: 1 / 2;
  /* grid-row: 1; */
}

.politician_form_fields{
  font-family: 'retro_gaming';
  background: grey;
  grid-column: 2 / 2;
  /* grid-row: 2; */
}

.politician_msg{
  text-align: justify;
  border: 2px dashed #A4A19D;
  border-radius: 22px;
  margin-top: 100px;
}

.the_header_left{
  text-align: left;
}

.the_header_right{
  text-align: right;
}

.the_error_zone{
  color: red;
}